/* Styles for each individual property, as defined in config.json */

.feature-Provider-Phone {
  font-style: italic;
}
.feature-Address1,
.feature-Address2,
.feature-City,
.feature-State,
.feature-Zip {
  font-style: italic;
}
.feature-Program-Name {
  font-weight: bold;
  font-size: 20px;
}

#list .feature-Program-Name {
  font-size: 14px;
}
